.tr {
    td {
        padding: 10px 0;
    }
}

.type {
    background-color: red;
    width: min-content;
    padding: 0 3px ;
    background-color:rgb(188,203,249);
    border-radius: 2px;
    border: 1px solid rgb(164,174,219);
}

.borderTop {
    border-top: 1px solid rgba(0,0,0, 0.2);
}