.table {
	width: 100%;
	border-collapse: collapse;
}

.spinnerWrapper {
	width: 100%;
	margin: 15px 0;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	font-size: 24px;
	color: rgba(255, 0, 0, 1);
}

.spinnerWrapper {
	height: 50px;
}
